<ion-view class="category-feeds-view">
    <ion-nav-title>
        <span>Library</span>
    </ion-nav-title>
    <ion-content class="bgwhite">

        <div class="row tabnav">
            <div class="col"><a  ui-sref="app.content-library"  class="active" >Created by you</a></div>
            <div class="col"><a  ui-sref="app.library-feed" >Feed</a></div>
        </div>	


        <div class="posts-list">
             
            <div  class="list card post-item" ng-repeat="contentLab in clab">
                <a ui-sref="app.view-content-value({'id': contentLab.id})" class="card-content p0">
                <div class="post-heading item item-text-wrap">
                    <h2 class="post-title">{{contentLab.content_title}}</h2>
                    <p class="post-author">
                        By <span>{{contentLab.user}}</span> <span>{{contentLab.created_at| dateFormat3}}</span>
                    </p>
                </div>
                <div class="post-content item item-text-wrap" post-content>
                    <p class="post-excerpt" dynamic-anchor-fix>
                        {{contentLab.content_desc}}
                    </p>
                    <p class="imgincard" ng-if="contentLab.header_img != null">  <img src="{{attachpath}}{{contentLab.header_img}}" /></p>
                     <div  class="framecontainer"  ng-if="contentLab.header_img == null"> 
                     <iframe  class="iframevideo"  frameborder="0" allowfullscreen="1" ng-src="{{trustSrc(contentLab.url)}}"></iframe>
                     </div>
                    <div class="post-actions">
                        <p > <strong>Category </strong>|  <span ng-repeat="specialisation in contentLab.spec">{{specialisation}}  </span>
                        </p>
                        <p> <strong>Tags </strong>|  </p>
                    </div>
                </div>
                </a>
            </div>

        </div>
    </ion-content>
    <div class="bar bar-footer bar-positive">
        <div class="title" ng-click="modal.show()"><i class="ion-plus-circled fwhite"></i> Create</div>
    </div>
</ion-view>



<script id="create-library" type="text/ng-template">
    <ion-modal-view>
    <ion-header-bar class="bar app-top-bar">
    <h1 class="title">Actions</h1>	 
    <div class="button button-clear" ng-click="modal.hide()"><span class="icon ion-close"></span></div>
    </ion-header-bar>
    <ion-content>

    <div class="row">
    <div class="col"><div class="custombtn" ng-controller="CloseModalCtrl" ng-click="modalclose('app.newarticle')" >Text Article</div></div>
    </div>
    <div class="row">
    <div class="col"><div class="custombtn" ng-controller="CloseModalCtrl" ng-click="modalclose('app.new-video-article')">Video Article</div></div>
    </div>

    </ion-content>

    </ion-modal-view>
</script>






