<ion-view class="category-feeds-view">
    <ion-nav-title>
        <span>Library</span>
    </ion-nav-title>
    <ion-content class="bgwhite">


        <div class="posts-list">




            <div class="post-view  post-content item-text-wrap">
                <p class="post-text">
                    {{cval.content_value}}
                </p>
            </div>



        </div>
    </ion-content>
    <ion-footer-bar class="post-footer bar bar-footer">
        <div class="row">
            <div class="col col-20 col-center">
                <a class="button button-icon icon icon-right ion-plus" bigger-text=".post-view .post-text">A</a>
            </div>
            <div class="col col-20 col-center">
                <a class="button button-icon icon icon-right ion-minus" smaller-text=".post-view .post-text">A</a>
            </div>

        </div>
    </ion-footer-bar>
</ion-view>










