<ion-view cache-view="false" class="records-view">
    <ion-nav-title>
        <span>Search Results</span>
    </ion-nav-title>

    <div class="item item-divider mtop44" style="font-size: 18px; min-height: 45px; text-align:center;">
        <select class="selectheader">
            <option selected="selected">Location 1</option>
            <option>Location 2</option>
            <option>Location 3</option>
            <option>Location 4</option>
            <option>Location 5</option>
        </select>
    </div>

    <ion-content style="margin-top: 50px;">
        <div class="list list-inset txt-center">
        <label class="item item-input">
        <i class="icon ion-search placeholder-icon"></i>
        <input type="text"  value="" placeholder="Search">
        </label>
        </div>



           <div class="list mb0">
            <div class="item item-divider">A</div>
            <a class="item"  ui-sref="">
                <h2>Crocin</h2>
                <p class="rt-list">10</p>
            </a>
              <a class="item"  ui-sref="">
                <h2>Crocin</h2>
                <p class="rt-list">10</p>
            </a>

        </div> 
        	
          <div class="list mb0">
            <div class="item item-divider">B</div>
            <a class="item"  ui-sref="">
                <h2>Crocin</h2>
                <p class="rt-list">10</p>
            </a>
             <a class="item"  ui-sref="">
                <h2>Crocin</h2>
                <p class="rt-list">10</p>
            </a>
             <a class="item"  ui-sref="">
                <h2>Crocin</h2>
                <p class="rt-list">10</p>
            </a>
             <a class="item"  ui-sref="">
                <h2>Crocin</h2>
                <p class="rt-list">10</p>
            </a>
        </div> 
       
              <div class="list mb0">
            <div class="item item-divider">C</div>
            <a class="item"  ui-sref="">
                <h2>Crocin</h2>
                <p class="rt-list">10</p>
            </a>
        </div> 
              <div class="list mb0">
            <div class="item item-divider">D</div>
            <a class="item"  ui-sref="">
                <h2>Crocin</h2>
                <p class="rt-list">10</p>
            </a>
        </div> 










</ion-content>
	
<!-- 	<div class="fixedbar">
	<a class="button btn-delete" ui-sref="app.disbursement">Cancel</a>
	<a class="button btn-add" ui-sref="app.disbursement">Save </a>
	</div> -->
</ion-view>