<ion-view class="rjoin-view">
    <ion-nav-title>
        <span>{{otherUser.fname}} {{otherUser.lname}}</span>

        <span class="right-buttons">
            <button  class="button button-positive w100p brdradious0"> 
                <strong>Record</strong> </button>
        </span>
    </ion-nav-title>
    <ion-content scroll="false">	
        <section id="chat">
        </section>		
        <section class="hide" id="connected-as" style="position: absolute; top: 500px; width: 100px;"> </section>
        <div class="clr"></div>
    </ion-content>
</ion-view>