<ion-view class="settings-view">
    <!--   <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons> -->
    <ion-nav-title>
        <span>Settings</span>
    </ion-nav-title>
    <ion-content>
        <div ng-if='docSettings.length == 0'></div>
        <div ng-if='docSettings.length > 0'>
            <ul class="list" ng-repeat="ds in docSettings">
                <div ng-if="ds.setting_control.control=='Status'">
                    <div class="item item-divider mt15">Status</div>
                    <ion-list>
                        <ion-radio ng-model="status" ng-checked="instant_status.presence == status" class="radioptions" ng-click="doctor_presence(status)" ng-value="'0'">Offline</ion-radio>
                        <ion-radio ng-model="status" ng-checked="instant_status.presence == status"  class="radioptions" ng-click="doctor_presence(status)" ng-value="'2'">Busy</ion-radio>
                        <ion-radio ng-model="status" ng-checked="instant_status.presence == status"  class="radioptions" ng-click="doctor_presence(status)"ng-value="'1'">Online</ion-radio>
                    </ion-list>
                </div>
                <div ng-if="ds.setting_control.control=='Services'">
                    <div class="item item-divider mt15">Services </div>
                    <div ng-repeat="serv in services">
                        <div ng-repeat="dServ in docServices" ng-if="dServ.service_id == serv.id" >
                            <div ng-if="serv.id == 1">
                                <ion-toggle ng-model="video" ng-checked="dServ.active" name="{{serv.service}}"  toggle-class="toggle-positive"> {{serv.service}} </ion-toggle>
                                <ul class="list">
                                    <li><a>Price</a></li>
                                    <li><a>Schedule</a></li>
                                    <li><a>Cancellation rules</a></li>
                                </ul>
                            </div>
                            <div ng-if="serv.id == 2">
                                <ion-toggle ng-model="chat" ng-checked="dServ.active"  name="{{serv.service}}"  toggle-class="toggle-positive"> {{serv.service}} </ion-toggle>
                                <ul class="list">
                                    <li><a>Price</a></li>                                
                                    <li><a>Cancellation rules</a></li>     
                                </ul>
                            </div>
                            <div ng-if="serv.id == 3">
                                <ion-toggle ng-model="clinic" ng-checked="dServ.active"  name="{{serv.service}}"  toggle-class="toggle-positive"> {{serv.service}} </ion-toggle>
                                <ul class="list">
                                    <li><a>Price</a></li>
                                    <li><a>Schedule</a></li>
                                    <li><a>Auto Approval</a></li>
                                    <li><a>Clinic Details</a></li>
                                </ul>
                            </div>
                            <div ng-if="serv.id == 4">
                                <ion-toggle ng-model="home" ng-checked="dServ.active"  name="{{serv.service}}"  toggle-class="toggle-positive"> {{serv.service}} </ion-toggle>
                                <ul class="list">
                                    <li><a>Price</a></li>
                                    <li><a>Schedule</a></li>
                                    <li><a>Auto Approval</a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>

                <div ng-if="ds.setting_control.control=='Instant Video'">
                    <div class="item item-divider mt15" >Instant Video </div>
                    <div class="sinfo" >Note : These settings are only for instant video and will not affect your scheduled time slots.</div>
                    <form  name="instantpermission" id="instantpermission">
                        <input type="hidden" name="did" id="did" value="{{instant_permission.doctor_id}}">
                        <ion-toggle ng-model="instantvideo" ng-checked="instant_permission.instant_permission" ng-click="checkp(instantvideo)" name="permission"  toggle-class="toggle-positive"> Allow Instant Video </ion-toggle>
                        <!-- <div class="sinfo">Enabling this will send you instant video calls only when you are marked "Online"</div>
                        
                        <ion-toggle ng-model="airplaneMode" toggle-class="toggle-positive"> When Online Only </ion-toggle>-->
                        <!--<div class="sinfo">Enabling this will send you instant video calls only when you are marked "Online"</div>-->
                        <span class="" id="setting">  
                            <div class="item">
                                <div class="row">
                                    <div class="col-20">Days </div>
                                    <div class="col-80">
                                        <div  class="row" style="padding: 0;">
                                            <div class="col-50">
                                                <select class="timeoption" name="availfrom" >
                                                    <option ng-repeat="days in instant_days" ng-selected="days.value == instant_permission.instant_days" value="{{ days.value}}" > {{ days.text}}</option>
                                                </select>
                                            </div>
                                            <span class="optiondivider">To </span>
                                            <div class="col-50">
                                                <select class="timeoption" name="availto">
                                                    <option ng-repeat="days_end in instant_days_end" ng-selected="days_end.value == instant_permission.instant_day_end" value="{{ days_end.value}}" > {{ days_end.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="item">
                                <div  class="row">
                                    <div class="col-20">Time </div>
                                    <div class="col-80">
                                        <div  class="row" style="padding: 0;">
                                            <div class="col-50">
                                                <select class="timeoption" name="timestart">
                                                    <option  ng-repeat="time in instant_time" ng-selected="time.value == instant_permission.instant_start_time" value="{{ time.value}}" > {{ time.text}}</option>
                                                </select>
                                            </div>
                                            <span class="optiondivider">To </span>
                                            <div class="col-50">
                                                <select class="timeoption"  name="timeend">
                                                    <option  ng-repeat="time_end in instant_time_end" ng-selected="time_end.value == instant_permission.instant_end_time" value="{{ time_end.value}}" > {{ time_end.text}}</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </span>
                        <button class="button button-block button-positive" ng-click="submitInstantPermission()">
                            Save
                        </button>
                    </form>
                </div>
                <div ng-if="ds.setting_control.control=='Notifications'">
                    <div class="item item-divider mt15">Notifications</div>
                    <ion-toggle ng-model="notification" ng-checked="notification.user_id == userId" ng-click="pushNotification(notification)" name="notification"  toggle-class="toggle-positive"> Allow Notification </ion-toggle>
                </div>
                <div ng-if="ds.setting_control.control=='Languages'">
                    <div class="item item-divider mt15">Languages</div>
                    <ion-toggle ng-model="languages" ng-checked="notification.user_id == userId" ng-click="pushNotification(notification)" name="notification"  toggle-class="toggle-positive"> Allow Notification </ion-toggle>
                </div>
            </ul>
        </div>
    </ion-content>
</ion-view>
