<ion-view class="settings-view">
    <!--   <ion-nav-buttons side="left">
        <button menu-toggle="left" class="button button-icon icon ion-navicon"></button>
      </ion-nav-buttons> -->
    <ion-nav-title>
        <span>Settings</span>
    </ion-nav-title>
    <ion-content>
        <div ng-if='docSettings.length == 0'>
            
        </div>
        <div ng-if='service == "Video"'>
            
                <form  name="servicevideo" id="servicevideo">
                        <input type="hidden" name="did" id="did" value="">
                        <!-- <div class="sinfo">Enabling this will send you instant video calls only when you are marked "Online"</div>
                        
                        <ion-toggle ng-model="airplaneMode" toggle-class="toggle-positive"> When Online Only </ion-toggle>-->
                        <!--<div class="sinfo">Enabling this will send you instant video calls only when you are marked "Online"</div>-->
                        <span class="" id="setting">  
                            <div class="item">
                                <div class="row">
                                    <div class="col-20">Days </div>
                                    <div class="col-80">
                                        <div  class="row" style="padding: 0;">
                                            <div class="col-50">
                                                fdsfd
                                            </div>
                                            
                                        </div>
                                    </div>
                                </div>
                            </div>
                          
                        </span>
                        <button class="button button-block button-positive" ng-click="submitInstantPermission()">
                            Save
                        </button>
                    </form>

        </div>
    </ion-content>
</ion-view>
