
   <div class="tcontent" ng-controller="ConsultationsNoteCtrl">
					 <div class="text-right">
					 <button class="button" ng-controller="AddrelationCtrl" ng-click="modal.show()"><span class="ion-plus-circled"></span> Add Relation</button> 
					 </div>
					 
					<div class="posts-list">
					<div  class="list card post-item">
						<div class="post-content item item-text-wrap p0">
							<div  class="card-content paraspacing">
								<div class="cardheading">Relation:Father 
								<div class="edit-btn-card">
								<a ui-sref="#" ><i class="ion-edit"></i></a>
									<a ui-sref="#"><i class="ion-trash-b"></i></a>
								</div>
								</div>
								<p class="txt-left"><strong>Age:</strong>55 <br/>
								<strong>Known Conditions:</strong> Lorem Ipsum, Simply dummy,  Printing
								<br/>
								<strong>Other Information:</strong> Lorem Ipsum simply dummy printing
								<br/>
								</p>
								
								<div class="clr"></div>
							</div>
						</div>
					</div>
				</div>	
					 
				<div class="posts-list">
					<div  class="list card post-item">
						<div class="post-content item item-text-wrap p0">
							<div  class="card-content paraspacing">
								<div class="cardheading">Relation:Mother 
								<div class="edit-btn-card">
								<a ui-sref="#" ><i class="ion-edit"></i></a>
									<a ui-sref="#"><i class="ion-trash-b"></i></a>
								</div>
								</div>
								<p class="txt-left"><strong>Age:</strong>48 <br/>
								<strong>Known Conditions:</strong> Lorem Ipsum, Simply dummy,  Printing
								<br/>
								<strong>Other Information:</strong> Lorem Ipsum simply dummy printing
								<br/>
								</p>
								
								<div class="clr"></div>
							</div>
						</div>
					</div>
				</div>	
					
				
				
				
				
				
                      
                    </div>
                  
 



	
